<div class="navber">
    <div class=" contiener">
        <div class="nav-contiener">
            <div class="logo"><a href="/">POSTS</a></div>
            <!-- <div class="formSherch">
                <form class="Searchform" id="searchForm">
                    <input type="text" name="rr" id="search" placeholder="Search For Posts">
                    <input type="submit" value="Search">
                </form>
            </div> -->
            <ul class="ul-nav">
                <% if(user) { %>
                    <div class="name">
                        <a href="#"><span class="text">Welcome:</span>  <span class="data"><%= user.username %></span> </a> |
                        <a href="#"><span class="text">Email:</span>  <span class="data"><%= user.email %></span> </a> 
                    </div> 
                    <li><a href="/admin" class="btn btn-success-full">Admin</a></li>
                    <li><a href="/logout" class="btn">logout</a></li>
                <% }else { %>
                    <li><a href='/singup' class="btn btn-full">SigUp</a></li>
                    <li><a href='/signIn' class="btn">SigIn</a></li>
                <% } %>
                
                
            </ul>
        </div>
    </div>
</div>
</nav>



<div class="contiener">

    <div class="add-post">
        <div class="formSherch">
            <form class="Searchform" id="searchForm" method="POST" action="/admin">
                <input type="search" name="search" id="search" placeholder="Search For Posts">
                <input type="submit" value="Search">
            </form>
        </div>
        <a href="/adminAddPost">Add Post</a>
    </div>

    <div class="admin-all-posts">
        <% if(DataRow.length > 0 ) { %>

            <% DataRow.forEach((posts)=> { %>
                <div>
                    <h3><%= posts.title %></h3>
                    <span>
                        <button  class="viw"><a href="/adminViewPost/<%= posts.id %>">Viw</a></button>
                        <a href='/adminViewPost/updatePost/<%= posts.id %>' class="edit link">Edit</a>
                        <!-- <form id="deleteForm"><button class="delete">Delete</button></form> -->
                    </span>
                </div>


            <% }) %> 

        <% } else{%>
        
            <h2 style="text-align: center; font-weight: bold;">The Is No Posts Right Now</h2>
        
        <% } %>
        
    </div>
        
</div>






